<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzh.eggcloud.mapper.FileMapper">

    <insert id="insertFileOrFolder" keyProperty="file.id" useGeneratedKeys="true">
        insert into sys_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="file.name != null and file.name != ''">
                name,
            </if>
            <if test="file.isFolder != null">
                is_folder,
            </if>
            <if test="file.md5 != null and file.md5 != ''">
                md5,
            </if>
            <if test="file.extension != null and file.extension != ''">
                extension,
            </if>
            <if test="file.storeId != null">
                store_id,
            </if>
            <if test="file.size != null">
                size,
            </if>
            <if test="file.group != null and file.group != ''">
                `group`,
            </if>
            <if test="file.remotePath != null and file.remotePath != ''">
                remote_path,
            </if>
            <if test="file.url != null and file.url != ''">
                url,
            </if>
            <if test="file.deleted != null">
                deleted,
            </if>
            <if test="file.contentType!=null and file.contentType!=''">
                content_type,
            </if>
            <if test="file.thumbnail!=null and file.thumbnail!=''">
                thumbnail,
            </if>
            <if test="file.path != null and file.path != ''">
                path,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="file.name != null and file.name != ''">
                #{file.name},
            </if>
            <if test="file.isFolder != null">
                #{file.isFolder},
            </if>
            <if test="file.md5 != null and file.md5 != ''">
                #{file.md5},
            </if>
            <if test="file.extension != null and file.extension != ''">
                #{file.extension},
            </if>
            <if test="file.storeId != null">
                #{file.storeId},
            </if>
            <if test="file.size != null">
                #{file.size},
            </if>
            <if test="file.group != null and file.group != ''">
                #{file.group},
            </if>
            <if test="file.remotePath != null and file.remotePath != ''">
                #{file.remotePath},
            </if>
            <if test="file.url != null and file.url != ''">
                #{file.url},
            </if>
            <if test="file.deleted != null">
                #{file.deleted},
            </if>
            <if test="file.contentType!=null and file.contentType!=''">
                #{file.contentType},
            </if>
            <if test="file.thumbnail != null and file.thumbnail != ''">
                #{file.thumbnail},
            </if>
            <if test="file.path != null and file.path != ''">
                #{file.path},
            </if>
        </trim>
    </insert>

    <insert id="insertFiles" keyProperty="id" useGeneratedKeys="true">
        insert into sys_file (name,is_folder, md5, extension, store_Id,path, size,
                              `group`, remote_path, url,content_type,thumbnail,create_at,modify_at)
                values
        <foreach collection="files" item="file"  separator=",">
            (#{file.name},#{file.isFolder}, #{file.md5}, #{file.extension},
            #{file.storeId},#{file.path}, #{file.size},
            #{file.group}, #{file.remotePath}, #{file.url},#{file.contentType},
            #{file.thumbnail},#{file.createAt},#{file.modifyAt})
        </foreach>
    </insert>

    <update id="updateFile">
        update sys_file
        <set>
            <if test="file.name != null and file.name != ''">
                name = #{file.name},
            </if>
            <if test="file.md5 != null and file.md5 != ''">
                md5 = #{file.md5},
            </if>
            <if test="file.extension != null and file.extension != ''">
                extension = #{file.extension},
            </if>
            <if test="file.size != null">
                size = #{file.size},
            </if>
            <if test="file.group != null and file.group != ''">
                `group` = #{file.group},
            </if>
            <if test="file.remotePath != null and file.remotePath != ''">
                remote_path = #{file.remotePath},
            </if>
            <if test="file.url != null and file.url != ''">
                url = #{file.url},
            </if>
            <if test="file.modifyAt != null">
                modify_at = #{file.modifyAt},
            </if>
            <if test="file.deleted != null">
                deleted =#{file.deleted},
            </if>
            <if test="file.contentType != null and file.contentType != ''">
                content_type = #{file.contentType},
            </if>
            <if test="file.thumbnail != null and file.thumbnail != ''">
                thumbnail = #{file.thumbnail},
            </if>
            <if test="file.path != null and file.path != ''">
                path=#{file.path},
            </if>
        </set>
        where id = #{file.id}
          and store_id = #{file.storeId}
    </update>

    <select id="findFilesByParentId" resultType="com.qzh.eggcloud.model.SysFile">
        select name,
        md5,
        extension,
        store_Id,
        size,
        `group`,
        remote_path,
        url,
        content_type,
        thumbnail
        from sys_file
        where store_Id = #{storeId}
        and is_folder = 0
        and deleted = 0
    </select>

    <delete id="removeFileByParentId">
        delete
        from sys_file
        where store_id = #{storeId}
        and is_folder = 0
    </delete>

    <update id="deleteFileById">
        update sys_file
        set deleted = 1,
        modify_at = now()
        where id = #{id}
        and store_id = #{storeId}
    </update>

    <delete id="removeById">
        delete
        from sys_file
        where id = #{id}
        and store_id = #{storeId}
    </delete>

    <select id="findFilesOrFoldersByNameAndParentId" resultType="java.lang.Integer">
        select *
        from sys_file
        where store_id = #{file.storeId}
        and name = #{file.name}
        and path = #{file.path}
        and is_folder = #{file.isFolder}
        and deleted = 0
    </select>

    <select id="findById" resultType="com.qzh.eggcloud.model.SysFile">
        select id,
        name,
        is_folder,
        md5,
        extension,
        store_id,
        create_at,
        modify_at,
        size,
        `group`,
        remote_path,
        url,
        deleted,
        content_type,
        thumbnail,
        path
        from sys_file
        where id = #{id}
        and deleted = 0
    </select>

    <select id="findFilesFoldersDeletedByQuery" resultType="com.qzh.eggcloud.model.dto.DeletedFile">
        select id as file_id ,name as filename ,
        content_type,extension,modify_at as delete_at,size,is_folder
        from sys_file
       <where>
           <if test="query.storeId != null">
               store_id = #{query.storeId}
           </if>
           <if test="1==1">
               and deleted = 1
               and modify_at > date_sub(now(), interval 10 day)
           </if>
           <if test="query.sortProp != null and query.sortProp != ''">
               order by ${query.sortProp}
           </if>
           <if test="query.sortOrder != null and query.sortOrder != ''">
               ${query.sortOrder}
           </if>
       </where>
    </select>

    <update id="restoreFileOrFolderById">
        update sys_file
        set deleted = 0,
        modify_at = now()
        where id = #{id}
        and store_id = #{storeId}
    </update>

    <select id="findFilesFoldersShouldRemove" resultType="com.qzh.eggcloud.model.SysFile">
        select id,store_id,is_folder,create_at,modify_at,deleted
        from sys_file
        where deleted = 1
          and date_sub(now(), interval 10 day) > modify_at limit 10000
    </select>


    <select id="findFileOrFolderByIdDeleted" resultType="com.qzh.eggcloud.model.SysFile">
        select id, name, is_folder, store_id, size, deleted, path
        from sys_file
        where id = #{id}
        and store_id = #{storeId}
        and deleted = 1
    </select>

    <delete id="removeAllOver30Days">
        delete
        from sys_file
        where deleted = 1
          and date_sub(now(), interval 30 day) > modify_at
    </delete>

    <select id="findFoldersCountByStoreId" resultType="int">
        select count(*)
        from sys_file
        where store_id = #{storeId}
        and is_folder = 1
    </select>

    <select id="findFilesCountByStoreIdAndType" resultType="int">
        select count(*)
        from sys_file
        where store_id = #{storeId}
        and is_folder = 0
    </select>

    <select id="findFilesCountByStoreId" resultType="int">
        select count(*)
        from sys_file
        where store_id = #{storeId}
        and is_folder = 0
    </select>

    <select id="findByQuery" resultType="com.qzh.eggcloud.model.SysFile">
        select id, name, is_folder, extension,create_at, modify_at, path, size, content_type
        from sys_file
        <where>
            <if test="query.storeId != null">
                store_id = #{query.storeId}
            </if>
            <if test="query.currentDirectory != null and query.currentDirectory!=''">
                and path = #{query.currentDirectory}
            </if>
            <if test="query.queryFileType != null and query.queryFileType != ''">
                and instr(content_type,#{query.queryFileType})>0
            </if>
            <if test="1 == 1">
                and deleted = 0
            </if>
            <if test="query.sortProp != null and query.sortProp != ''">
                order by ${query.sortProp}
            </if>
            <if test="query.sortOrder != null and query.sortOrder != ''">
                ${query.sortOrder}
            </if>
        </where>
    </select>

    <select id="findFilesBySearchKey" resultType="com.qzh.eggcloud.model.SysFile">
        select *
        from sys_file
       <where>
           <if test="search.storeId != null">
               store_id = #{search.storeId}
           </if>
           <if test="search.searchKey != null and search.searchKey != ''">
               and instr(name,#{search.searchKey})>0
           </if>
           <if test="1 == 1">
               and deleted = 0
           </if>
           <if test="search.sortProp != null and search.sortProp != ''">
               order by ${search.sortProp}
           </if>
           <if test="search.sortOrder != null and search.sortOrder != ''">
               ${search.sortOrder}
           </if>
       </where>
    </select>

    <select id="findFoldersByStoreId" resultType="com.qzh.eggcloud.model.SysFile">
        select *
        from sys_file
        where store_id = #{storeId}
        and is_folder = 1;
    </select>

    <update id="deleteFileByIds">
        update sys_file set deleted =1 , modify_at = now() where id in
        <foreach collection="fileIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and store_id = #{storeId}
    </update>

    <update id="restoreFileOrFolderByIds">
        update sys_file
        set deleted = 0
        where store_id=#{storeId}
        and id in
        <foreach collection="fileIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="findByPathPrefix" resultType="com.qzh.eggcloud.model.SysFile">
        select * from sys_file where store_id =#{storeId}
        and path like concat(#{path},'%')
    </select>

    <select id="findCountNameByPath" resultType="java.lang.Integer">
        select count(name) from sys_file
        where store_id = #{storeId}
        and path = #{path}
        and name=#{name}
    </select>

    <update id="updateFiles">
        <foreach collection="files" item="file" open="" close="" separator=";">
            update sys_file
            <set>
                <if test="file.name != null and file.name != ''">
                    name = #{file.name},
                </if>
                <if test="file.isFolder!=null">
                    is_folder = #{file.isFolder},
                </if>
                <if test="file.md5 != null and file.md5 != ''">
                    md5 = #{file.md5},
                </if>
                <if test="file.extension != null and file.extension != ''">
                    extension = #{file.extension},
                </if>
                <if test="file.size != null">
                    size = #{file.size},
                </if>
                <if test="file.group != null and file.group != ''">
                    `group` = #{file.group},
                </if>
                <if test="file.remotePath != null and file.remotePath != ''">
                    remote_path = #{file.remotePath},
                </if>
                <if test="file.url != null and file.url != ''">
                    url = #{file.url},
                </if>
                <if test="file.modifyAt != null">
                    modify_at = #{file.modifyAt},
                </if>
                <if test="file.deleted != null">
                    deleted =#{file.deleted},
                </if>
                <if test="file.contentType != null and file.contentType != ''">
                    content_type = #{file.contentType},
                </if>
                <if test="file.thumbnail != null and file.thumbnail != ''">
                    thumbnail = #{file.thumbnail},
                </if>
                <if test="file.path != null and file.path != ''">
                    path = #{file.path},
                </if>
            </set>
            where
            id=#{file.id}
            and store_id = #{storeId}
        </foreach>
    </update>

    <select id="findFolderByPath" resultType="com.qzh.eggcloud.model.SysFile">
        select id,
               name,
               is_folder,
               store_id,
               create_at,
               modify_at,
               size,
               path,
               deleted
        from sys_file
        where store_id = #{storeId}
        and path = #{path}
        and is_folder = 1
        and deleted = 0
    </select>

    <delete id="removeByIds">
        delete  from sys_file
       where store_id = #{storeId}
        and id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="removeByIdsNotStore">
        delete  from  sys_file
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findShareFileById" resultType="com.qzh.eggcloud.model.SysFile">
        select id, name, is_folder, extension, create_at, modify_at, size,content_type,path
        from sys_file
        where id = #{id}
        and deleted = 0
    </select>

    <select id="findByPath" resultType="com.qzh.eggcloud.model.SysFile">
        select id, name, is_folder, extension, create_at, modify_at, size, content_type,path from sys_file
        where store_id =#{storeId} and path = #{path}
    </select>
</mapper>